<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CrediCash_Dev" connectionString="Server=163.227.92.189,1234;Database=SALORA_LIVE;Persist Security Info=True;User ID=salora_user;Password=salora@2026;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>