<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CrediCash_Dev" connectionString="Server=101.53.145.10,1234;Database=EW_LMS;Persist Security Info=True;User ID=PUAPI;Password=P@isa@udh@r;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>